@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Company Mangement System</h1>
    <p>Please Click Company List to get Company Information</p>
</div>
